@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600,700&family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 200px;
    background-color: #FDEBE4;
}



/* --- Navigation --- */

.logo {
    width: 200px;
    height: auto;
}

.bg-light-blue {
    background-color: #d1e3fa;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3066be;
}

.hvr-border-fade::before {
    color: #3066be;
}

/* --- Heading --- */

.about-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 50px;
}

/* --- Intro --- */

video {
    width: 100%;
    height: auto;
}
.clip {
    padding: 0 0 0 0;
}

